extends ../layout/index
    
block contenido
    include ../layout/header    

    //- Container para el Form
    div(class="w-full flex-1")
        div(class="flex h-full md:justify-between items-center gap-10 xl:gap-0 xl:my-0 my-24 flex-col xl:flex-row py-10")

            div(class="mx-auto flex flex-col justify-center")
                div(class="p-8 bg-white flex flex-col justify-start border-2 ")
                    //- Titulo
                    h1(class="text-center mb-6 text-3xl font-bold font-display text-sky-950")= pagina
                    //- Errores en caso de mal rellenado o no hay posibles habitaciones
                    if errores
                        each error in errores
                            div(class="max-w-80 gap-[0.5] mx-auto  w-full")
                                p(class="text-center py-2 my-1 bg-red-700 text-white w-full text-xs font-bold ")=error.msg
                    div
                        form(method="POST" action="/auth/recuperar" class="space-y-5" novalidate)
                            input(type="hidden" value=csrfToken name="_csrf")
                            div
                                label(for="email" class="block mb-2 uppercase text-sm") Correo Electrónico
                                input#email(type="email" name="email" placeholder="Correo@gmail.com" class="p-2 w-[400px] border border-gray-300 rounded-md placeholder-gray-300") 
                            div(class="flex justify-between gap-1")
                                a(href="/auth/login" class="text-xs text-gray-400") ¿Ya tienes una cuenta? Ingresa. 
                                a(href="/auth/registro" class="text-xs text-gray-400") ¿No tienes cuenta? Registrate. 
                            input(type="submit" value="Recuperar cuenta" class="w-full text-center bg-sky-900 hover:bg-sky-600 duration-200 text-white py-2 hover:cursor-pointer uppercase font-bold")

            img(class="object-cover hidden w-full lg:hidden xl:block xl:w-[35rem] 2xl:w-[50rem] mt-10 md:mt-0" src="/img/bg_register.jpg")

    include ../layout/footer
