//- Titulo de la pagina
h1(class="mx-auto text-center pt-10 my-12 text-4xl font-bold font-display text-sky-950") Menú Administración Hosteluxe
    
div(class="container flex mx-auto justify-center mb-12")
    a(href="/administrar" class="mr-[1px] w-[12rem] text-center px-5 bg-sky-900 hover:bg-sky-600 duration-200 text-white py-4 hover:cursor-pointer uppercase font-bold text-sm") Resumen Mensual
    a(href="/administrar/clientes" class="mr-[1px] w-[12rem] text-center px-5 bg-sky-900 hover:bg-sky-600 duration-200 text-white py-4 hover:cursor-pointer uppercase font-bold text-sm") Clientes
    a(href="/administrar/empleados" class="mr-[1px] w-[12rem] text-center px-5 bg-sky-900 hover:bg-sky-600 duration-200 text-white py-4 hover:cursor-pointer uppercase font-bold text-sm") Empleados
    a(href="/administrar/habitaciones" class="mr-[1px] w-[12rem] text-center px-5 bg-sky-900 hover:bg-sky-600 duration-200 text-white py-4 hover:cursor-pointer uppercase font-bold text-sm") Habitaciones
    a(href="/administrar/menus" class="mr-[1px] w-[12rem] text-center px-5 bg-sky-900 hover:bg-sky-600 duration-200 text-white py-4 hover:cursor-pointer uppercase font-bold text-sm") Menú y Confiterías
    a(href="/administrar/mensajes" class="w-[12rem] text-center px-5 bg-sky-900 hover:bg-sky-600 duration-200 text-white py-4 hover:cursor-pointer uppercase font-bold text-sm") Mensajes