div(class="flex items-center h-24 max-h-[80px] w-full")
    div(class="container mx-auto flex items-center justify-between")
        div(class="flex flex-1 justify-start gap-3")
            //- SVG Instagram
            div(class="flex items-center gap-1")
                svg(xmlns='http://www.w3.org/2000/svg' class="size-5" x='0px' y='0px' width='100' height='100' viewbox='0 0 50 50')
                    path(d='M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z')
                a(href="#"  class="text-black text-sm") Hosteluxe
            
            //- SVG Facebook
            div(class="flex items-center gap-1")
                svg(xmlns='http://www.w3.org/2000/svg' class="size-5" x='0px' y='0px' width='100' height='100' viewbox='0 0 50 50')
                    path(d='M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z')
                a(href="#" class="text-black text-sm") Hosteluxe

            //- SVG X (Twitter)
            div(class="flex items-center gap-1")
                svg(xmlns='http://www.w3.org/2000/svg' class="size-5" x='0px' y='0px' width='100' height='100' viewbox='0 0 50 50')
                    path(d='M 5.9199219 6 L 20.582031 27.375 L 6.2304688 44 L 9.4101562 44 L 21.986328 29.421875 L 31.986328 44 L 44 44 L 28.681641 21.669922 L 42.199219 6 L 39.029297 6 L 27.275391 19.617188 L 17.933594 6 L 5.9199219 6 z M 9.7167969 8 L 16.880859 8 L 40.203125 42 L 33.039062 42 L 9.7167969 8 z')
                a(href="#" class="text-black text-sm") Hosteluxe
        
        //- SVG Hotel
        div(class="flex flex-1 justify-center")
            svg(class="justify-center" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-black size-20")
                path(stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819")
        
        //- SVG Telefono
        div(class="flex flex-1 justify-end gap-1")
            svg(class="size-6 text-black" xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' d='M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z')
            p(class="text-black text-sm") +569 1234 5678
div(class="w-full bg-sky-950 border-y-[1px] border-sky-950") 
    div(class="container mx-auto w-full h-[78px] grid grid-cols-2")
        div(class="flex items-center h-full")
            a(class="w-32 max-w-32 border-r border-r-emerald-950 font-bold flex justify-center items-center text-white h-full hover:bg-sky-900 px-[10px] duration-300" href="/") Inicio
            a(class="w-32 max-w-32 border-r border-r-emerald-950 font-bold flex justify-center items-center text-white h-full hover:bg-sky-900 px-[10px] duration-300" href="/nosotros") Nosotros
            a(class="w-32 max-w-32 border-r border-r-emerald-950 font-bold flex justify-center items-center text-white h-full hover:bg-sky-900 px-[10px] duration-300" href="/contactanos") Contactanos  
            a(class="w-32 max-w-32 font-bold flex justify-center items-center text-white h-full hover:bg-sky-900 px-[10px] duration-300" href="/habitaciones") Habitaciones

        if autenticado
            div(class="flex items-center justify-end")
                if cuentaId == 5
                    a(href="/administrar" class="w-32 max-w-32 border-r border-r-emerald-950 font-bold flex justify-center items-center text-white h-full hover:bg-sky-900 px-[10px] duration-300") Administración
                    a(href="/recepcion" class="w-32 max-w-32 border-r border-r-emerald-950 font-bold flex justify-center items-center text-white h-full hover:bg-sky-900 px-[10px] duration-300") Supervisar
                if cuentaId == 2
                    a(href="/recepcion" class="w-32 max-w-32 border-r border-r-emerald-950 font-bold flex justify-center items-center text-white h-full hover:bg-sky-900 px-[10px] duration-300") Recepcionar
                if cuentaId == 3
                    a(href="/servicio" class="w-32 max-w-32 border-r border-r-emerald-950 font-bold flex justify-center items-center text-white h-full hover:bg-sky-900 px-[10px] duration-300") Servicio Hab.
                if cuentaId == 4
                    a(href="/pedido" class="w-32 max-w-32 border-r border-r-emerald-950 font-bold flex justify-center items-center text-white h-full hover:bg-sky-900 px-[10px] duration-300") Pedidos
                
                a(href="/solicitar" class=`${ usuarioSolicitar ? 'w-32 max-w-32 border-r border-r-emerald-950 font-bold flex justify-center items-center text-white h-full hover:bg-sky-900 px-[10px] duration-300 gap-1' : 'w-32 max-w-32 border-r border-r-emerald-950 pointer-events-none text-gray-500 font-bold flex justify-center items-center h-full px-[10px] gap-1'}`) 
                    if usuarioSolicitar
                        img(src="/img/svg/trueSolicitar.svg", class="size-6" alt="")
                    else
                        img(src="/img/svg/falseSolicitar.svg", class="size-6" alt="")
                    span Solicitar
                
                a(href="/perfil" class="w-32 max-w-32 font-bold flex justify-center items-center text-white h-full hover:bg-sky-900 px-[10px] duration-300 gap-0.5") 
                    svg(xmlns="http://www.w3.org/2000/svg" class="text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6")
                        path(stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z")
                    span Mi Perfil 
                a(href="/auth/logout" class="border-2 ml-2 p-2 font-bold flex justify-center items-center text-white hover:bg-sky-900 px-[10px] duration-300") Cerrar Sesión

        else 
            div(class="grid items-center")
                a(href="/auth/login" class="w-32 max-w-32 py-2 border-2 font-bold flex ml-auto text-white hover:bg-sky-900 px-[10px] duration-300") Iniciar Sesión
block header