div(class="container flex mx-auto justify-center mb-12")
    a(href="/perfil" class="mr-[1px] w-[12rem] text-center px-3 bg-sky-900 hover:bg-sky-600 duration-200 text-white py-4 hover:cursor-pointer uppercase font-bold text-sm") Mis Datos
    a(href="/mis-reservas" class="mr-[1px] w-[12rem] text-center px-3 bg-sky-900 hover:bg-sky-600 duration-200 text-white py-4 hover:cursor-pointer uppercase font-bold text-sm") Mis Reservas
    a(href="/mis-compras" class="w-[12rem] text-center px-3 bg-sky-900 hover:bg-sky-600 duration-200 text-white py-4 hover:cursor-pointer uppercase font-bold text-sm") Mis Compras 