div(class="flex items-center mx-auto mb-4 container")
    label(for="" class="mr-2") Visualizar: 
    select(id="supervisar" class="border-2 py-2 px-3") 
        option(value="") Seleccione vista
        option(value="recepcion?pagina=1") Recepción 
        option(value="pedido") Pedidos
        option(value="servicio") Servicio 